[submodule "lib/Streaming"]
	path = lib/Streaming
	url = https://github.com/janelia-arduino/Streaming.git
[submodule "lib/MahonyAHRS"]
	path = lib/MahonyAHRS
	url = https://github.com/PaulStoffregen/MahonyAHRS
[submodule "lib/DJIC610Controller"]
	path = lib/DJIC610Controller
	url = https://github.com/stanfordroboticsclub/DJIC610Controller
[submodule "lib/SparkFun_ICM-20948_ArduinoLibrary"]
	path = lib/SparkFun_ICM-20948_ArduinoLibrary
	url = https://github.com/sparkfun/SparkFun_ICM-20948_ArduinoLibrary