[submodule "lib/Streaming"]
	path = lib/Streaming
	url = https://github.com/janelia-arduino/Streaming.git
[submodule "lib/FlexCAN_T4"]
	path = lib/FlexCAN_T4
	url = https://github.com/Nate711/FlexCAN_T4.git
[submodule "lib/MahonyAHRS"]
	path = lib/MahonyAHRS
	url = https://github.com/PaulStoffregen/MahonyAHRS
[submodule "lib/DJIC610Controller"]
	path = lib/DJIC610Controller
	url = https://github.com/stanfordroboticsclub/DJIC610Controller
